﻿body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(245, 245, 245);
}

.form-signin {
    margin: 0px auto 20px;
    padding: 19px 29px 29px;
    border-radius: 5px;
    border: 1px solid rgb(229, 229, 229);
    max-width: 300px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05);
    background-color: rgb(255, 255, 255);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

    .form-signin .form-signin-heading {
        margin-bottom: 10px;
        font: 16px;
    }

    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin input[type='text'] {
        padding: 7px 9px;
        height: auto;
        font-size: 16px;
        margin-bottom: 15px;
    }

    .form-signin input[type='password'] {
        padding: 7px 9px;
        height: auto;
        font-size: 16px;
        margin-bottom: 15px;
    }
